In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as pt

In [8]:
dataset = pd.read_csv("7.1 Social_Network_Ads.csv.csv")

In [9]:
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [106]:
dataset.Gender[dataset.Gender == 'Male'] = 1
dataset.Gender[dataset.Gender == 'Female'] = 0

/home/ashu/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/home/ashu/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [168]:
dataset

      User ID Gender  Age  EstimatedSalary  Purchased
0    15624510      1   19            19000          0
1    15810944      1   35            20000          0
2    15668575      0   26            43000          0
3    15603246      0   27            57000          0
4    15804002      1   19            76000          0
..        ...    ...  ...              ...        ...
395  15691863      0   46            41000          1
396  15706071      1   51            23000          1
397  15654296      0   50            20000          1
398  15755018      1   36            33000          0
399  15594041      0   49            36000          1

[400 rows x 5 columns]

In [108]:
x = dataset.iloc[:,[2,3]].values

In [170]:
y= dataset.iloc[:,[4]].values

In [110]:
from sklearn.model_selection import train_test_split

In [130]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.30)

In [131]:
x_train.shape

(280, 2)

In [132]:
y_train.shape

(280, 1)

In [133]:
from sklearn.preprocessing import StandardScaler

In [134]:
sc = StandardScaler()

In [135]:
x_train = sc.fit_transform(x_train)

In [136]:
x_test = sc.transform(x_test)

In [137]:
from sklearn.neighbors import KNeighborsClassifier

In [160]:
classifier = KNeighborsClassifier(n_neighbors = 7, metric = 'manhattan', p = 1)

In [161]:
classifier.fit(x_train, y_train)

/home/ashu/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """Entry point for launching an IPython kernel.

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='manhattan',
                     metric_params=None, n_jobs=None, n_neighbors=7, p=1,
                     weights='uniform')

In [162]:
y_pred = classifier.predict(x_test)

In [163]:
from sklearn.metrics import confusion_matrix

In [164]:
cm = confusion_matrix(y_test, y_pred)

In [165]:
cm

array([[71,  6],
       [ 3, 40]])

In [167]:
(71+40)/(71+6+3+40)  #accuracy is 92%

0.925